<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="codedriver.framework.knowledge.dao.mapper.KnowledgeTagMapper">

	<select id="getKnowledgeTagIdByName" parameterType="java.lang.String" resultType="java.lang.Long">
	SELECT `id` FROM `knowledge_tag` WHERE `name` = #{value}
	</select>
	
	<select id="getKnowledgeTagNameListByIdList" parameterType="java.lang.Long" resultType="java.lang.String">
	SELECT 
	  `name`
	FROM `knowledge_tag` 
	WHERE `id` IN 
	<foreach collection="list" item="id" open="(" separator="," close=")">
	#{id}
	</foreach>
	ORDER BY `name`
	</select>
	
	<select id="getKnowledgeTagCount" parameterType="codedriver.framework.common.dto.BasePageVo" resultType="int">
	SELECT 
	  Count(1)
	FROM `knowledge_tag` 
	<if test="keyword != null and keyword != ''">
	WHERE `name` LIKE CONCAT('%', #{keyword}, '%')
	</if>
	</select>
	
	<select id="getKnowledgeTagList" parameterType="codedriver.framework.common.dto.BasePageVo" resultType="codedriver.framework.common.dto.ValueTextVo">
	SELECT 
	  `name` AS `value`,
	  `name` AS `text`
	FROM `knowledge_tag` 
	<if test="keyword != null and keyword != ''">
	WHERE `name` LIKE CONCAT('%', #{keyword}, '%')
	</if>
	ORDER BY `name`
	<if test="needPage">
	LIMIT #{startNum}, #{pageSize}
	</if>
	</select>
	
	<insert id="insertKnowledgeTag" parameterType="codedriver.framework.knowledge.dto.KnowledgeTagVo">
	INSERT INTO `knowledge_tag` (`id`, `name`) VALUES (#{id}, #{name})
	</insert>
</mapper>