<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="neatlogic.framework.knowledge.dao.mapper.KnowledgeDocumentTypeMapper">

	<select id="getMaxRhtCode" parameterType="java.lang.Long" resultType="java.lang.Integer" useCache="false">
		SELECT MAX(`rht`) FROM `knowledge_document_type` where `knowledge_circle_id` = #{value}
	</select>

	<select id="checkTypeIsExists" parameterType="java.lang.String" resultType="int">
		select count(`uuid`) from `knowledge_document_type` where `uuid` = #{value}
	</select>

	<resultMap id="childrenTypeMap" type="neatlogic.framework.knowledge.dto.KnowledgeDocumentTypeVo">
		<id property="uuid" column="uuid"/>
		<result property="name" column="name"/>
		<result property="parentUuid" column="parentUuid"/>
		<result property="lft" column="lft"/>
		<result property="rht" column="rht"/>
		<result property="childCount" column="childCount"/>
	</resultMap>

	<select id="getTypeByParentUuid" resultMap="childrenTypeMap">
		SELECT
		a.`uuid`,
		a.`name`,
		a.`parent_uuid` AS parentUuid,
		a.`lft`,
		a.`rht`,
		(SELECT COUNT(1) FROM `knowledge_document_type` WHERE `parent_uuid` = a.`uuid`) as `childCount`
		FROM `knowledge_document_type` a
		WHERE a.`parent_uuid` = #{parentUuid} and a.`knowledge_circle_id` = #{knowledgeCircleId}
		ORDER BY `sort` ASC
	</select>

	<select id="searchType" parameterType="neatlogic.framework.knowledge.dto.KnowledgeDocumentTypeVo" resultType="neatlogic.framework.knowledge.dto.KnowledgeDocumentTypeVo">
		SELECT
		a.`uuid`,
		a.`name`,
		a.`parent_uuid` AS parentUuid,
		a.`lft`,
		a.`rht`,
		a.`knowledge_circle_id` as knowledgeCircleId,
		(SELECT COUNT(1) FROM `knowledge_document_type` WHERE `parent_uuid` = a.`uuid`) as `childCount`
		FROM `knowledge_document_type` a
		WHERE 1=1
		<if test="knowledgeCircleId != null">
			and `knowledge_circle_id` = #{knowledgeCircleId}
		</if>
		<if test="parentUuid != null">
			and a.`parent_uuid` = #{parentUuid}
		</if>
		<if test="keyword != null and keyword != ''">
			and a.`name` LIKE CONCAT('%', #{keyword},'%')
		</if>
		ORDER BY `lft` ASC
	</select>

	<select id="getTypeForTree" resultType="neatlogic.framework.knowledge.dto.KnowledgeDocumentTypeVo" useCache="false">
		SELECT
		a.`uuid`,
		a.`name`,
		a.`parent_uuid` AS parentUuid,
		a.`lft`,
		a.`rht`,
		a.`knowledge_circle_id` as knowledgeCircleId,
		(SELECT COUNT(1) FROM `knowledge_document_type` WHERE `parent_uuid` = a.`uuid`) as `childCount`,
		(SELECT COUNT(1) FROM `knowledge_document` WHERE `knowledge_document_type_uuid` = a.`uuid` and `is_delete` = 0) as `documentCount`
		FROM `knowledge_document_type` a
		WHERE a.`lft` &gt;= #{lft}
		AND a.`rht` &lt;= #{rht}
		AND a.`knowledge_circle_id` = #{knowledgeCircleId}
		ORDER BY a.`lft`
	</select>

	<select id="getDocumentCountByLftRht" resultType="int">
		SELECT
		COUNT(1)
		FROM
		`knowledge_document`
		WHERE
		`knowledge_document_type_uuid` IN
		(
		SELECT
		`uuid`
		FROM
		`knowledge_document_type`
		WHERE `lft` &gt;= #{lft}
		AND `rht` &lt;= #{rht}
		AND `is_delete` = 0
		and `knowledge_circle_id` = #{knowledgeCircleId}
		)
	</select>

	<select id="getAncestorsAndSelfNameByLftRht" resultType="java.lang.String">
	SELECT `name` FROM `knowledge_document_type` 
	WHERE `knowledge_circle_id` = #{knowledgeCircleId} AND `lft` &lt;= #{lft} AND `rht` &gt;= #{rht}
	ORDER BY `lft` ASC
	</select>
	
	<select id="getTypeByUuid" parameterType="java.lang.String" resultType="neatlogic.framework.knowledge.dto.KnowledgeDocumentTypeVo">
	SELECT 
	  `uuid`,
	  `name`,
	  `knowledge_circle_id` AS knowledgeCircleId,
	  `parent_uuid` AS parentUuid,
	  `lft`,
	  `rht`,
	  `sort` 
	FROM `knowledge_document_type` 
	WHERE `uuid` = #{value}
	</select>

	<select id="getAncestorsAndSelfByLftRht" resultType="neatlogic.framework.knowledge.dto.KnowledgeDocumentTypeVo" useCache="false">
		SELECT
		a.`uuid`,
		a.`name`,
		a.`parent_uuid` AS parentUuid,
		a.`lft`,
		a.`rht`,
		a.`knowledge_circle_id` as knowledgeCircleId
		FROM `knowledge_document_type` a
		WHERE a.`lft` &lt;= #{lft} AND a.`rht` &gt;= #{rht} AND a.`knowledge_circle_id` = #{circleId}
		ORDER BY `lft` ASC
	</select>

	<select id="getTypeChildCountListByUuidList" parameterType="java.util.List" resultType="neatlogic.framework.knowledge.dto.KnowledgeDocumentTypeVo" useCache="false">
		SELECT
		a.`uuid`,
		COUNT(DISTINCT b.`uuid`) AS childCount
		FROM `knowledge_document_type` a
		LEFT JOIN `knowledge_document_type` b ON b.`parent_uuid` = a.`uuid`
		WHERE a.`uuid` IN
		<foreach collection="list" item="uuid" open="(" close=")" separator=",">
			#{uuid}
		</foreach>
		GROUP BY a.`uuid`
	</select>

	<select id="getChildAndSelfByLftRht" resultType="neatlogic.framework.knowledge.dto.KnowledgeDocumentTypeVo" useCache="false">
		SELECT
		a.`uuid`,
		a.`name`,
		a.`parent_uuid` AS parentUuid,
		a.`lft`,
		a.`rht`,
		a.`knowledge_circle_id` as knowledgeCircleId
		FROM `knowledge_document_type` a
		WHERE a.`lft` &gt;= #{lft} AND a.`rht` &lt;= #{rht} AND a.`knowledge_circle_id` = #{circleId}
	</select>

	<select id="getDocumentCountByUuid" parameterType="java.lang.String" resultType="int">
		SELECT COUNT(1) FROM `knowledge_document` WHERE `knowledge_document_type_uuid` = #{value} AND `knowledge_document_version_id` IS NOT NULL AND `is_delete` = 0
	</select>
	
	<update id="updateTypeLeftRightCode">
	UPDATE `knowledge_document_type` SET `lft` = #{lft}, `rht` = #{rht} WHERE `uuid` = #{uuid}
	</update>

	<insert id="batchInsertType" parameterType="java.util.List">
		INSERT INTO `knowledge_document_type`(
		`uuid`,
		`name`,
		`knowledge_circle_id`,
		`parent_uuid`,
		`lft`,
		`rht`,
		`sort`
		)
		VALUES
		<foreach collection="list" index="index" item="item" separator=",">
			(
			#{item.uuid},
			#{item.name},
			#{item.knowledgeCircleId},
			#{item.parentUuid},
			#{item.lft},
			#{item.rht},
			#{item.sort}
			)
		</foreach>
	</insert>

	<delete id="deleteTypeByCircleId" parameterType="java.lang.Long">
		delete from `knowledge_document_type` where `knowledge_circle_id` = #{value}
	</delete>

</mapper>
